@{
    ViewData["Title"] = "DMCustoms";
}

<div class="text-center">
    <h4 class="display-4">Welcome to DM Custom Lease and Rental Calculator</h4>
    <p>Lease and rental calculators are vital for smart financial decisions. They help individuals and businesses assess costs, interest, and terms, enabling informed choices that fit budgets. These calculators streamline decision-making, ensuring responsible leasing and rental outcomes.</p>
</div>

